/components-CheckBoxDemoProject/nbproject/private/
/components-CheckBoxDemoProject/build/
/components-FormattedTextFieldDemoProject/nbproject/private/
/components-FormattedTextFieldDemoProject/build/
/Projeto da Fármacia/aaa/Projeto da Fármacia/ProjetoFarmaciaPronto/nbproject/private/
/Projeto da Fármacia/aaa/Projeto da Fármacia/ProjetoFarmaciaPronto/build/
/Projeto da Fármacia/aaa/Projeto da Fármacia/ProjetoFarmaciaPronto/dist/